<style type="text/css">
	.histogram{
		position: absolute;
		width: 50%;
		height: 40%;
		fill: #3ca;
	}
</style>



<section class="panel">
	<div class="panel-body">
		<input type="text" placeholder="handle" [(ngModel)]="user" required>
		<button type="submit" (click)="generate()">Generate</button>

		<div class="histogram"></div>
	</div>
</section>