<div class="row">
  <div class="col-md-12">
    <section class="panel">
      <div class="panel-body">
        <div class="profile-pic text-center">
          <img src={{profile_pic}} alt="profile pic">
        </div>
        <div class="text-center">
          <h1>{{username}}</h1>
          <h2>{{name}}</h2>
          <span class="text-muted">{{organization}}</span><br>
          <span class="text-muted">{{website}}</span><br>
          <span class="text-muted">{{country}}</span>
        </div>
      </div>
    </section>
  </div>
</div>