<body>

    <section id="container" >

        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">
                <a href="/" class="logo">
                    <img class="logo-img" src="assets/logo.svg" alt="logo">
                </a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <!--logo end-->

            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-important">2</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <li>
                                <p class="red">You have 2 Messages</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src=""></span>
                                            <span class="subject">
                                            <span class="from">Jane Doe</span>
                                            <span class="time">2 min ago</span>
                                            </span>
                                            <span class="message">
                                                Nice work mate!
                                            </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src=""></span>
                                            <span class="subject">
                                            <span class="from">John Doe</span>
                                            <span class="time">2 days ago</span>
                                            </span>
                                            <span class="message">
                                                Could you change the bg-col to pink!
                                            </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    <!-- notification dropdown start-->
                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="fa fa-bell-o"></i>
                            
                        </a>
                    </li>
                    <!-- notification dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-nav clearfix">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src={{profile_pic}}>
                            <span class="username">{{username}}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <li><a [routerLink]="['profile']"><i class=" fa fa-suitcase"></i>Profile</a></li>
                            <li><a [routerLink]="['settings']"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="#" (click)="logout()"><i class="fa fa-key"></i> Log Out</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                    <li>
                        <div class="toggle-right-box">
                            <div class="fa fa-bars"></div>
                        </div>
                    </li>
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->




        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->            <div class="leftside-navigation">
                    <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a [routerLink]="['']">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>Codeforces</span>
                        </a>
                        <ul class="sub">
                            <li><a [routerLink]="['heatmap']">Calendar Heatmap</a></li>
                            <li><a [routerLink]="['histogram']">Submission Histogram</a></li>
                            <li><a [routerLink]="['pie']">Verdict Pie Chart</a></li>
                            <li><a [routerLink]="['timeseries']">Timeseries Graph</a></li>
                        </ul>
                    </li>
                    <li>
                        <a [routerLink]="['Message']">
                            <i class="fa fa-envelope"></i>
                            <span>Messages</span>
                        </a>
                    </li>
                </ul></div>        
        <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        







        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
            <!-- page start-->

            <router-outlet></router-outlet>

            <!-- page end-->
            </section>
        </section>
        <!--main content end-->







        <!--right sidebar start-->
        <div class="right-sidebar">
            <div class="right-stat-bar">
                <ul class="right-side-accordion">
                    <li class="widget-collapsible">
                        <a href="#" class="head widget-head red-bg active clearfix">
                            <span class="pull-left">System Info (5)</span>
                            <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
                        </a>
                        <ul class="widget-container">
                            <li>
                                <div class="prog-row side-mini-stat clearfix">
                                    <div class="side-graph-info">
                                        <h4>Storage</h4>
                                        <p>
                                            Used: 25%,    Of 256MB
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="target-sell">
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="side-graph-info">
                                        <h4>Visitor Count</h4>
                                        <p>
                                            
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="p-delivery">
                                            <div class="sparkline" data-type="bar" data-resize="true" data-height="30" data-width="90%" data-bar-color="#39b7ab" data-bar-width="5" data-data="[200,135,667,333,526,996,564,123,890,564,455]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="side-graph-info payment-info">
                                        <h4>Memory Usage</h4>
                                        <p>
                                            25%, Of 1024MB
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="p-collection">
                    						<span class="pc-epie-chart" data-percent="45">
                    						<span class="percent"></span>
                    						</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="side-graph-info">
                                        <h4>Cron Job Pending</h4>
                                        <p>
                                            44%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="d-pending">
                                        </div>
                                    </div>
                                </div>
                                
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--right sidebar end-->



    </section>






    <!-- <script type="text/javascript" src="./js/bundle.min.js"></script> -->
</body>