<h1>REGISTRATION</h1>
<div class="container" style="margin-top: 150px;">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
  
    <div class="form-group" [class.has-error]="!registerForm.find('username').valid && registerForm.find('username').dirty">
      <label for="username">Username</label>
      <input type=text id="username" class="form-control" placeholder="username" formControlName="username">
    </div>
    <!-- {{registerForm.controls['username'].value}} -->
    <control-messages [parentForm]="registerForm" controlName="username"></control-messages>
    <!-- <div [hidden]="registerForm.find('username').untouched || registerForm.find('username').valid" class="alert alert-danger">Username is required</div> -->

    <div class="form-group" [class.has-error]="!registerForm.find('email').valid && registerForm.find('email').dirty">
      <label for="email">Email</label>
      <input type=text id="email" class="form-control" placeholder="email" formControlName="email">
    </div>
    <control-messages [parentForm]="registerForm" controlName="email"></control-messages>


    <div class="form-group" [class.has-error]="!registerForm.find('password').valid && registerForm.find('password').dirty">
      <label for="password">Password</label>
      <input type=password id="password" class="form-control" placeholder="password" formControlName="password">
    </div>
    <control-messages [parentForm]="registerForm" controlName="password"></control-messages>

    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>

  </form>
</div>