<section class="wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="position-center">
				
				<form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" >
						
					<div class="form-group">
						<label for="name">Name</label>
						<input class="form-control" type="text" id="name" placeholder="name" [formControl]="form.find('name')">
					</div>
					
					<div class="form-group">
						<label for="email">Email</label>
						<!-- https://davidwalsh.name/html5-email -->
						<input class="form-control" type="email" pattern="[^ @]*@[^ @]*" id="email" placeholder="email" [formControl]="form.find('email')">
					</div>

					<div class="form-group">
						<label for="organization">organization</label>
						<input class="form-control" type="organization" name="organization" id="organization" placeholder="organization" [formControl]="form.find('organization')">
					</div>

					<div class="form-group">
						<label for="country">Country</label>
						<input class="form-control" type="country" id="country" placeholder="country" [formControl]="form.find('country')">
					</div>

					<div class="form-group">
						<label for="profile_pic">Profile Picture</label>
						<input class="form-control" type="file" name="profile_pic" id="profile_pic" placeholder="upload file (max 5MB)"  (change)="selectFile($event)">
					</div>

					<div class="form-group">
						<label for="codeforces">Codeforces Handle</label>
						<input class="form-control" type="codeforces" id="codeforces" placeholder="codeforces" [formControl]="form.find('codeforces')">
					</div>

					<div class="form-group">
						<label for="Uva">Uva Handle</label>
						<input class="form-control" type="uva" id="uva" placeholder="uva" [formControl]="form.find('uva')">
					</div>

					<div class="form-group">
						<label for="website">Website</label>
						<input class="form-control" type="website" id="website" placeholder="website" [formControl]="form.find('website')">
					</div>


					<div class="form-group">
						<label for="old-pass">Old Password</label>
						<input class="form-control" type="password" id="old-pass" placeholder="old password" [formControl]="form.find('old-pass')">
					</div>

					<div class="form-group">
						<label for="new-pass">New Password</label>
						<input class="form-control" type="password" id="new-pass" placeholder="new password" [formControl]="form.find('new-pass')">
					</div>
					<div class="form-group">
						<label for="conf-pass">Confirm New Password</label>
						<input class="form-control" type="password" id="conf-pass" placeholder="confirm new password" [formControl]="form.find('conf-pass')">
					</div>
					<div *ngIf="passSame(form)" class="alert alert-danger">"Password must match"</div>

					<button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>

				</form>

			</div>
		</div>
	</div>
</section>