<section class="panel">
	<div class="panel-body">
		<input type="text" placeholder="handle" [(ngModel)]="user" required focus>
		<button type="submit" (click)="generate()">Generate</button>

		<div class="timeseries"></div>
	</div>
</section>