<!-- <link rel="stylesheet" type="text/css" href="/lib/cal-heatmap/cal-heatmap.css"> -->

<!-- <input type="text" placeholder="handle" [(ngModel)]="user" required autofocus>
<button type="submit" (click)="generate()">Generate</button>
 -->
<br><br><br><br>
<div id="cal-heatmap">HEATMAP</div>