<!-- <link rel="stylesheet" type="text/css" href="/lib/cal-heatmap/cal-heatmap.css"> -->

<section class="panel">
	<div class="panel-body">
		<input type="text" placeholder="handle" [(ngModel)]="user" required autofocus>
		<button type="submit" (click)="generate()">Generate</button>

		<br><br><br><br>
		<div id="cal-heatmap"></div>
	</div>
</section>