<h1>LOGIN</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="panel" style="margin-top: 150px;">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

          <div class="form-group" [class.has-error]="!loginForm.find('username').valid && loginForm.find('username').dirty">
            <label for="username">Username</label>
            <input type=text id="username" class="form-control" placeholder="username" [formControl]="loginForm.find('username')">
          </div>

          <div class="form-group" [class.has-error]="!loginForm.find('password').valid && loginForm.find('password').dirty">
            <label for="password">Password</label>
            <input type=password id="password" class="form-control" placeholder="password" [formControl]="loginForm.find('password')">
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>

        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>